    <% if holiday.price?(gite.id)%>
        <span class="prices-span" data-edit-prices-target="priceHoliday" data-action="click->edit-prices#displayFormHoliday"><%= holiday.price(gite.id) %>€</span> 

      <%# @gite_holidays has to be define here as a new instance otherwise all the forms have 'random' value in it %>
        <% @gite_holidays = GiteHoliday.where(gite_id: gite.id, holiday_id: holiday.id).first %>

        <%= simple_form_for [holiday, @gite_holidays], html: {class: "d-none", data: {edit_prices_target: "form", action:"submit->edit-prices#update"}} do |f|%>
            <%= f.input :price, label:false %>
        <% end %>

    <% else %>
        <%= simple_form_for [holiday, GiteHoliday.new] do |f|%>
        <%= f.hidden_field :gite_id, value: gite.id %>
        <%= f.input :price, label: false %>
        <% end %>
    <% end %>
