<h1>Ta page d'aministration </h1>

    <div class="admin-table">

    <%### Headers of the table ###%>
        <div class="saison-header headers">Saisons</div>
        <div class="headers"><%= @gite_1.name %></div>
        <div class="headers"><%= @gite_2.name %></div>

    <%### Sub-headers of the table ###%>
        <div class="sub-headers">Nom</div>
        <div class="sub-headers dates">Dates</div>
        <div class="sub-headers prix">
            <div>Semaine</div>
            <div>Week-end</div>
        </div>
        <div class="sub-headers prix">            
            <div>Semaine</div>
            <div>Week-end</div>
        </div>


    <%### Rows (.each) and columns(div) of the table ###%>
        <% unless @saisons.empty? %>
            <% @saisons.each do |saison| %>

                <div class="saison-name">
                    <%= saison.name %>            
                    <%= link_to saison_path(saison), data: {turbo_method: :delete, turbo_confirm: "Es-tu sûr de vouloir supprimer cette saison ?"}, class: "text-danger" do %>
                        <i class="fa-solid fa-trash"></i>
                    <% end %>
                </div>

                <div><%= saison.start_date %></div>
                <div><%= saison.end_date %></div>

            <%# rendering prices from partial %>
                <div class="prices-table" data-controller="edit-prices"> 
                   <%= render "admins/prices", {saison: saison, gite: @gite_1} %>
                </div>

                <div class="prices-table" data-controller="edit-prices"> 
                   <%= render "admins/prices", {saison: saison, gite: @gite_2} %>
                </div>
                
            <% end %>
        <% end %>
    </div>


 <%#####  Adding a new saison #####%>
    <div data-controller="saison-form-toggle">
        <div class="btn btn-primary" data-action="click->saison-form-toggle#displayForm"> Ajouter une saison</div>
        <%= render "admins/saison_form", {saison: @saison} %>
    </div>
