<% controller.redirect_to gite_path unless current_user == User.first%>
<div class="contain">

    <%= link_to gite_path do %>
        <p class="button"><i class="fa-solid fa-circle-arrow-left"></i> Retour</p>
    <% end %>
    <%= render "shared/tuto"%>

    <%= simple_form_for @gite do |f| %>
        <%= f.input :name %>
        <%= f.input :photo_principale, as: :file, label: "Changer la photo PRINCIPALE"%>
        <%= f.input :description %>
        <%= f.input :capacity %>
        <%= f.input :rooms %>
        <%= f.input :sanitary %>
        <%= f.input :commun %>
        <%= f.input :photos, as: :file, label: "Ajouter des photos", input_html: {multiple: true} %>
        <%= f.submit "Valider les modifications", class: "button"%>
    <% end %>

    <hr/>
    <p>Gérer mes photos</p>
    <% if !@gite.photos.empty? %>
        <div class="my-photos">
            <% @gite.photos.each_with_index do |photo, index| %>
                <div>
                    <%= cl_image_tag(photo.key, crop: "fill")  %>

                    <%= link_to delete_pictures_path(@gite, photo_index: index), data: {turbo_method: :delete, turbo_confirm: "Es-tu sûr de vouloir supprimer cette photo ?"}, class: "text-danger" do %>
                        <i class="fa-solid fa-trash"></i>
                    <% end %>
                    
                        <%# <i class="fa-solid fa-chevron-left"></i> %>
                        <%# <i class="fa-solid fa-chevron-right"></i>  %>
                </div>
            <% end %>
        </div>
    <% else %>
        <p> Il n'y a aucune photos </p>
    <% end %>
</div>