<%= simple_form_for @gite do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :capacity %>
    <%= f.input :rooms %>
    <%= f.input :sanitary %>
    <%= f.input :photo_principale, as: :file %>
    <%= f.input :photos, as: :file, input_html: {multiple: true} %>
    <%= f.submit %>
<% end %>

<p>Gérer mes photos</p>
