<div>
    <% @gites.each do |gite| %>
        <div class="gite">
            <h3>
                <%= gite.name%> &emsp;
                <span class="pictograme"><i class="fa-solid fa-user"></i> <%= gite.capacity %></span>
                <span class="pictograme"><i class="fa-solid fa-bed"></i> <%= gite.rooms %></span>
                <span class="pictograme"><i class="fa-solid fa-shower"></i> <%= gite.sanitary %></span>
            </h3>
            
        <%###### Photos des gites ######%>
            <div class="cadre-photos">
                <% if gite.photo_principale.key %>
                    <div id="<%= @gites.find_index(gite) %>" class="photo-principale"> 
                        <%= cl_image_tag gite.photo_principale.key%>
                    </div>
                    <div class="my-photos"> 
                        <% gite.photos.last(4).each do |photo| %>
                            <%= cl_image_tag photo.key %>
                        <% end %>
                    </div>
                <% end %>
            </div>

            <%##### Description et Calendrier #####%>
                <div class="gite-details">

                <%##### Description #####%>
                    <div class="gite-description">
                        <h4>Description</h4>
                        <p><%= gite.description %></p>
                        <h4>Partagé</h4>
                        <p><%= gite.commun %></p>
                        <%= link_to "✏️ Modifier", edit_gite_path(gite), class: "button" if current_user == User.first %>
                    </div>

                <%##### Calendrier ######%>
                    <div class="calendar-container" data-controller="calendar" data-calendar-target="calendar">
                        <%= month_calendar do |date| %>
                            <span class="d-none"><%= gite.price(date) %></span> 
                            <div class=" <%= "events "if (@non_available.include? date)%>"><%= date.day %></div>
                        <% end %>

                        <p data-calendar-target="displayPrice">Sélectionnez deux dates pour afficher le prix du séjour</p>
                    </div>

                </div>
                <%= link_to "Voir toutes les photos", contact_path, class: "button all-photos" %> 

        </div>
    <% end %>

    <%# <%= link_to "Nouveau gite", new_gite_path, class: "button" %>
</div>