<div>
    <% @gites.each do |gite| %>
        <div class="gite">
            <p>- <%= gite.name %></p>

        <%###### Photos des gites ######%>
            <div class="gite-cadre-photos">
                <% if gite.photo_principale.key %>
                    <div class="gite-photo-principale"> <%= cl_image_tag gite.photo_principale.key%></div>
                    <div class="gite-photos"> 
                        <% gite.photos.last(4).each do |photo| %>
                            <div class="gite-photo"><%= cl_image_tag photo.key %></div>
                        <% end %>
                    </div>
                <% end %>
            </div>

            <%##### Description et Calendrier #####%>
                <div class="gite-details">

                <%##### Description #####%>
                    <div class="gite-description">
                        <p>Description</p>
                        <p><%= gite.description %></p>
                        <p>Capacité: <%= gite.capacity %> personnes</p>
                        <p><%= gite.rooms %> chambres</p>
                        <p><%= gite.sanitary %> sanitaires</p>
                        <%= link_to "✏️ Modifier", edit_gite_path(gite), class: "btn btn-primary" %>
                    </div>

                <%##### Calendrier ######%>
                    <div class="calendar-container" style="width: 1300px; background: red; max-height: 400px;">
                        <div>Hello</div>
                    </div>

                </div>

        </div>
    <% end %>

    <%= link_to "Nouveau gite", new_gite_path, class: "btn btn-primary" %>
</div>