<footer class="footer">
    <div id="logo-container" class="footer-section">
        <%= image_tag 'logo_ciney.png', alt: 'Logo', class: 'footer-logo' %>
        <p class="footer-slogan">Un séjour authentique en pleine nature, entre charme et confort.</p>
    </div>
    <div class="footer-section">
        <h4>Navigation rapide</h4>
        <ul class="footer-links">
            <li>Nos gîtes</li>
                <ul>
                    <li><%=link_to @gites[0].name ,gite_path(@gites[0]) %></li>
                    <li><%=link_to @gites[1].name ,gite_path(@gites[1]) %></li>
                    <li><%=link_to @gites[2].name ,gite_path(@gites[2]) %></li>
                </ul>
            <li><a href="/reservation">Tarifs & Réservations</a></li>
            <li><a href="/about">À Propos</a></li>
            <li><a href="/contact">Contact & Accès</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h4>Nous contacter</h4>
        <p><a class="map-link" target="_blank" href="https://www.google.com/maps/place/Gîtes+à+la+Ferme+d'Auwez/@50.2797745,5.1313188,606m/data=!3m2!1e3!4b1!4m6!3m5!1s0x47c1b774f1edc2b9:0x5796df9c9e20a1a7!8m2!3d50.2797711!4d5.1338991!16s%2Fg%2F11hbc3c7gc?entry=ttu&g_ep=EgoyMDI1MDIyNi4xIKXMDSoASAFQAw%3D%3D"> <i class="fa-solid fa-location-dot"></i> Ferme d’Auwez, 
            Route d'Auwez 1
            5590</a></p>
        <p><a href="mailto:fermedauwez@gmail.com"><i class="fa-solid fa-envelope"></i> fermedauwez@gmail.com</a></p>
        <h4>Nos réseaux</h4>
            <p class="icon"><%= link_to 'https://facebook.com', target: '_blank' do %><i class="fa-brands fa-facebook"></i><%end%></p>
            <p class="icon"><%= link_to 'https://instagram.com', target: '_blank' do %><i class="fa-brands fa-square-instagram"></i><%end%></p>
    </div>
</footer>