<% controller.redirect_to gites_path unless current_user == User.first%>
<%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %> <i class="fa-solid fa-right-from-bracket"></i>Déconnexion<% end %>
<h1>Ta page d'aministration </h1>

    <div class="admin-table">

    <%############## SAISON ##############%>

    <%### Headers of the table for the saisons ###%>
        <div class="saison-header headers">Saisons</div>
        <div class="headers"><%= @gite_1.name %></div>
        <div class="headers"><%= @gite_2.name %></div>

    <%### Sub-headers of the table for the saisons ###%>
        <div class="sub-headers">Nom</div>
        <div class="sub-headers dates">Dates de début</div>
        <div class="sub-headers dates">Dates de fin</div>
        <div class="sub-headers saisons-prix">
            <div>Semaine</div>
            <div>Week-end</div>
        </div>
        <div class="sub-headers saisons-prix">            
            <div>Semaine</div>
            <div>Week-end</div>
        </div>


    <%### Saisons' table ###%>
        <% unless @saisons.empty? %>
            <% @saisons.each do |saison| %>

                <div class="saison-name">
                    <%= saison.name %>            
                    <%= link_to saison_path(saison), data: {turbo_method: :delete, turbo_confirm: "Es-tu sûr de vouloir supprimer cette saison ?"}, class: "text-danger" do %>
                        <i class="fa-solid fa-trash"></i>
                    <% end %>
                </div>

                <div><%= saison.start_date %></div>
                <div><%= saison.end_date %></div>

            <%# rendering prices from partial %>
                <div class="prices-table" data-controller="edit-prices"> 
                   <%= render "pages/saison_prices", {saison: saison, gite: @gite_1} %>
                </div>

                <div class="prices-table" data-controller="edit-prices"> 
                   <%= render "pages/saison_prices", {saison: saison, gite: @gite_2} %>
                </div>
                
            <% end %>
        <% end %>
        <hr><hr><hr><hr><hr>

    <%############## HOLIDAYS ##############%>
        
    <%### Headers of the table for the holidays ###%>
        <div class="saison-header headers">Vacances</div>
        <div class="headers"><%= @gite_1.name %></div>
        <div class="headers"><%= @gite_2.name %></div>

    <%### Sub-headers of the table for the holidays ###%>
        <div class="sub-headers">Nom</div>
        <div class="sub-headers dates">Dates de début</div>
        <div class="sub-headers dates">Dates de fin</div>
        <div class="sub-headers prix">Prix</div>
        <div class="sub-headers prix">Prix</div>

    <%### Holidays' table ###%>
        <% unless @holidays.empty? %>
            <% @holidays.each do |holiday| %>
                <div class="saison-name"> <%= holiday.name %> 
                    <%= link_to holiday_path(holiday), data: {turbo_method: :delete, turbo_confirm: "Es-tu sûr de vouloir supprimer ces vacances ?"}, class: "text-danger" do %>
                        <i class="fa-solid fa-trash"></i>
                    <% end %>
                </div>
                <div><%= holiday.start_date %></div>
                <div><%= holiday.end_date %></div>
                <div data-controller="edit-prices"> <%= render "pages/holiday_prices", {holiday: holiday, gite: @gite_1} %></div>
                <div data-controller="edit-prices"> <%= render "pages/holiday_prices", {holiday: holiday, gite: @gite_2} %></div>
            <% end %>
        <% end %>
        <hr><hr><hr><hr><hr>
    </div>


 <%#####  Adding a new saison #####%>
<div id="forms">
    <div data-controller="saison-form-toggle">
        <div class="btn btn-primary toggle-button" data-action="click->saison-form-toggle#displayForm"> Ajouter une saison</div>
        <%= render "pages/saison_form", {saison: @saison} %>
    </div>

 <%#####  Adding a new holiday #####%>
    <div data-controller="saison-form-toggle">
        <div class="btn btn-primary toggle-button" data-action="click->saison-form-toggle#displayForm"> Ajouter de vacances</div>
        <%= render "pages/holiday_form", {holiday: @holiday} %>
    </div>
</div>