<%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %> <i class="fa-solid fa-right-from-bracket"></i>Déconnexion<% end %>
<h1>Ta page d'administration </h1>

    <div class="admin-table">

    <%############## SAISON ##############%>

    <%### Headers of the table for the saisons ###%>
        <div class="saison-header headers">Saisons</div>
        <% @gites.each do |gite| %>
            <div class="headers"><%= gite.name %></div>
        <% end %>

    <%### Sub-headers of the table for the saisons ###%>
        <div class="sub-headers">Nom</div>
        <div class="sub-headers dates">Dates de début</div>
        <div class="sub-headers dates">Dates de fin</div>
        <% @gites.size.times do %>
            <div class="sub-headers saisons-prix">
                <div>Semaine</div>
                <div>Week-end</div>
            </div>
        <% end %>


    <%### Saisons' table ###%>
        <% unless @saisons.empty? %>
            <% @saisons.each do |saison| %>

                <div class="saison-name">
                    <%= saison.name %>            
                    <%= link_to saison_path(saison), data: {turbo_method: :delete, turbo_confirm: "Es-tu sûr de vouloir supprimer cette saison ?"}, class: "text-danger" do %>
                        <i class="fa-solid fa-trash"></i>
                    <% end %>
                </div>

                <div><%= saison.start_date %></div>
                <div><%= saison.end_date %></div>

            <%# rendering prices from partial %>
                <% @gites.each do |gite| %>
                    <div class="prices-table" data-controller="edit-prices"> 
                    <%= render "pages/saison_prices", {saison: saison, gite: gite} %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
        <hr><hr><hr><hr><hr><hr>

    <%############## HOLIDAYS ##############%>
        
    <%### Headers of the table for the holidays ###%>
        <div class="saison-header headers">Vacances</div>
        <% @gites.each do |gite| %>
            <div class="headers"><%= gite.name %></div>
        <% end %>

    <%### Sub-headers of the table for the holidays ###%>
        <div class="sub-headers">Nom</div>
        <div class="sub-headers dates">Dates de début</div>
        <div class="sub-headers dates">Dates de fin</div>
        <% @gites.size.times do %>
            <div class="sub-headers prix">Prix</div>
        <% end %>

    <%### Holidays' table ###%>
        <% unless @holidays.empty? %>
            <% @holidays.each do |holiday| %>
                <div class="saison-name"> <%= holiday.name %> 
                    <%= link_to holiday_path(holiday), data: {turbo_method: :delete, turbo_confirm: "Es-tu sûr de vouloir supprimer ces vacances ?"}, class: "text-danger" do %>
                        <i class="fa-solid fa-trash"></i>
                    <% end %>
                </div>
                <div><%= holiday.start_date %></div>
                <div><%= holiday.end_date %></div>
                <% @gites.each do |gite| %>
                    <div data-controller="edit-prices"> <%= render "pages/holiday_prices", {holiday: holiday, gite: gite} %></div>
                <% end %>
            <% end %>
        <% end %>
        <hr><hr><hr><hr><hr><hr>

    <%############## CHARGES ##############%>
<!--
        <%### Headers of the table for the charges ###%>
        <div class="saison-header headers">Charges</div>
        <% @gites.each do |gite| %>
            <div class="headers"></div>
        <% end %>


        <%### Sub-headers of the table for the charges ###%>
        <div class="sub-headers">Nom</div>
        <div class="sub-headers dates">Gite</div>
        <div class="sub-headers dates">Type</div>
        <div class="sub-headers prix">Prix</div>
        <div class="sub-headers prix"></div>
        <div class="sub-headers prix"></div>

        <%### Charges' table ###%>
        
        <% unless @charges.empty? %>
            <% @charges.order(:name).order(:id).each do |charge| %>
                <div class="saison-name"> <%= charge.name %> 
                    <%= link_to charge_path(charge), data: {turbo_method: :delete, turbo_confirm: "Es-tu sûr de vouloir supprimer cette charge ?"}, class: "text-danger" do %>
                        <i class="fa-solid fa-trash"></i>
                    <% end %>
                </div>
                <div><%= charge.gite.name%></div>
                <div><%= charge.kind %></div>
                <div data-controller="edit-prices"><%= render "pages/charge_prices", {charge: charge, gite: charge.gite} %></div>
                <div></div>
                <div></div>
            <% end %>
        <% end %>
        <hr><hr><hr><hr><hr><hr>
-->

    </div>


<%############## FORMS ##############%>

 <%#####  Adding a new saison #####%>
<div id="forms">
    <div data-controller="forms-toggle">
        <div class="button toggle-button" data-action="click->forms-toggle#displayForm"> Ajouter une saison</div>
        <%= render "pages/saison_form", {saison: @saison} %>
    </div>

 <%#####  Adding a new holiday #####%>
    <div data-controller="forms-toggle">
        <div class="button toggle-button" data-action="click->forms-toggle#displayForm"> Ajouter des vacances</div>
        <%= render "pages/holiday_form", {holiday: @holiday} %>
    </div>

 <%#####  Adding a new charge #####%>
 <!-- 
    <div data-controller="forms-toggle">
        <div class="button toggle-button" data-action="click->forms-toggle#displayForm"> Ajouter une charge</div>
        <%= render "pages/charge_form", {charge: @charge} %>
    </div>
    -->
</div>
