<hr>
<%###### Gites ######%>
<h2>Réservations de gites</h2>
<div class="gites-reservation">
    <%= form_with url: "/contact/gites", class: "reservation-form" do |form| %>
        <%= form.text_field :email, placeholder: "Email*", required: true %>
        <%= form.select :gite, @gites.map(&:name) %>
        <%= form.number_field :capacity, placeholder: "Nombre de personnes*", required: true %>
        <%= form.telephone_field :telephone, placeholder: "Téléphone*", required: true %>
        <%= form.text_field :start_date, data: {controller:'datepicker'}, placeholder: "Début du séjour*", required: true  %>
        <%= form.text_field :end_date, data: {controller:'datepicker'}, placeholder: "Fin du séjour*", required: true  %>
        <%= form.text_area :message, placeholder: true %>
        <%= form.submit :Envoyer, class: "button" %>
    <% end %>

    <%######  Calendar and charges ######%>
    <div class="all-info">
        <% @gites.each do |gite| %>
            <div class="gite-informations">
                <h4><%= gite.name %></h4>
                <div class="calendar-container" data-controller="calendar" data-calendar-target="calendar">
                    <%= month_calendar do |date| %>
                        <span class="d-none"><%= gite.price(date) %></span> 
                        <div class=" <%= "events "if (@non_available.include? date)%>"><%= date.day %></div>
                    <% end %>
                    <p data-calendar-target="displayPrice">Sélectionnez deux dates pour afficher le prix du séjour</p>
                </div>
                <br>
                <div class="charges-informations">
                    <h5>Frais supplémentaires - Charges</h5>
                    <ul>
                        <% gite.charges.each do |charge| %>
                            <li class="charge-column"><%= charge.name %> - <%= charge.price%>€/<%= charge.kind %></li>
                        <% end %>
                    <ul>
                </div>

            </div>
        <% end %>
    </div>
</div>

<hr>
<%###### Mariages ######%>
<h2>Réservations pour les mariages</h2>
<div>
    <%= form_with url: "/contact/mariages", class: "reservation-form" do |form|%>
        <%= form.text_field :email, placeholder: "Email*", required: true %>
        <%= form.text_field :date, data:{controller: 'datepicker'}, placeholder: "Jour du mariage*", required: true %>
        <%= form.telephone_field :telephone, placeholder: "Téléphone*", required: true %>
        <%= form.text_area :message, placeholder: true %>
        <%= form.submit :Envoyer, class: "button" %>
    <% end %>
</div>