<% controller.redirect_to root_path unless current_user == User.first%>
<div class="contain">
    <%= link_to root_path do %>
        <p class="button"><i class="fa-solid fa-circle-arrow-left"></i> Retour</p>
    <% end %>
    <%= render "shared/tuto"%>

    <%= simple_form_for @home do |f|%>
    <!--
        <= f.input :photos, as: :file,                 label: "Photos d'acceuils", input_html: {multiple: true}  %>
        <= f.input :introduction_title,                label: "Titre d'acceuil *"%>
        <= f.input :introduction_text,                 label: "Description d'acceuil *" %>
        <= f.input :gites_title,                       label: "Titre des gites *" %>
        <= f.input :gites_description,                 label: "Description des gites *" %>
         -->
        <%= f.input :photos, as: :file, label: "Ajouter des photos", input_html: {multiple: true}  %>

        <%= f.submit "Valider", class: "button" %>
    <% end %>
</div>